:root {
  --main-color: #ffffff;
  --footer-color: #2f303a;
  --background-color: #f5f4fa;
  --accent-color: #2196f3;
  --main-text-color: #757575;
  --bold-text-color: #212121;
  --logo-color: #000000;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --header-border-color: #ececec;
  --filter-border: #eeeeee;
  --icon-color: #afb1b8;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-color);
  font-size: 14px;
}
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

/*header*/
.header .container,
.header-contact,
.header-list {
  display: flex;
  align-items: center;
}
.header {
  border-bottom: var(--header-border-color) solid 1px;
}
.header-nav {
  margin-left: 95px;
}
.header-contact {
  margin-left: auto;
}

.header-item:not(:last-child),
.contact-item:not(:last-child) {
  margin-right: 50px;
}

.logo,
.logo:visited {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}
.logo .web {
  color: var(--logo-color);
}

.header-link,
.header-link:visited {
  position: relative;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--bold-text-color);
  padding: 32px 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.current.header-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.contact-link {
  font-weight: 500;
  display: flex;
  align-items: center;
  color: var(--main-text-color);
  fill: currentColor;
  padding: 32px 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.header-link:hover,
.header-link:focus,
.header-link.current,
.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

/*main page*/
.work-title,
.team-title,
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;

  color: var(--bold-text-color);
}
/*hero*/
.hero {
  background-color: var(--footer-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  text-align: center;
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--main-color);
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--main-color);
  background: var(--accent-color);

  cursor: pointer;

  padding: 10px 32px;
  margin-top: 30px;
  border: none;
  border-radius: 4px;
}
/*benefits*/
.benefits-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--bold-text-color);
}
.benefits-list {
  display: flex;
}
.benefits-item:not(:last-child),
.work-list .list:not(:last-child),
.team-item:not(:last-child) {
  margin-right: 30px;
}
.benefit-desc {
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 10px;
}
.benefits-icon {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: var(--background-color);
}
/*work*/
.work {
  text-align: center;
  padding-top: 0;
}
.work-list,
.team-list,
.clients-list {
  display: flex;
  margin-top: 50px;
}
.work-item {
  position: relative;
}
.work-item-title {
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-color);
}
/*team*/

.team-item {
  background-color: var(--main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team {
  background-color: var(--background-color);
  text-align: center;
}
.team-name {
  font-weight: 500;

  color: var(--bold-text-color);
  margin-bottom: 10px;
}
.team-position,
.team-name {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.team-desk {
  padding: 30px 0;
}
.team-icons {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.icon-network {
  width: 20px;
  height: 20px;
}
.icon-team:not(:last-child) {
  margin-right: 10px;
}
.social-network {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: var(--icon-color);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-network:hover,
.social-network:focus {
  background-color: var(--accent-color);
  fill: var(--main-color);
}
/*clients*/
.clients {
  text-align: center;
}
.clients-item {
  width: 170px;
  height: 92px;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icon-color);
  border: 1px solid var(--icon-color);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon {
  width: 106px;
  height: 60px;
}

.clients-link:hover,
.clients-link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

/*portfolio page*/

.filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.filter-list:not(:last-child) {
  margin-right: 10px;
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--bold-text-color);

  margin-bottom: 5px;
}
.project-type {
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.filter-button {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  background-color: var(--background-color);
  color: var(--bold-text-color);
  border-radius: 4px;
  border: none;

  cursor: pointer;

  padding: 6px 22px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: var(--main-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
}
.projects-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}
.projects-item:nth-child(3n) {
  margin-right: 0;
}
.projects-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.photo-desk {
  padding: 20px 24px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid var(--filter-border);
  border-right: 1px solid var(--filter-border);
  border-left: 1px solid var(--filter-border);
}
.project-image {
  position: relative;
  overflow: hidden;
}
.image-text {
  position: absolute;
  display: flex;
  align-items: center;
  padding-right: 24px;
  padding-left: 24px;
  width: 100%;
  height: 100%;
  top: 100%;
  left: 0;

  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: 1.56;
  color: var(--main-color);
  letter-spacing: 0.03em;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link {
  display: block;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-link:hover .image-text,
.project-link:focus .image-text {
  transform: translateY(-100%);
}
.project-link .image-text,
.project-link .image-text {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*footer*/
.footer {
  background-color: var(--footer-color);
  padding: 60px 0;
}
.footer-contact {
  display: flex;
  align-items: baseline;
}
.footer-address {
  margin-top: 20px;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-link {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-link-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link.address,
.footer .web {
  color: var(--main-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}
.join {
  margin-left: 70px;
}
.join-title,
.follow-label {
  font-weight: 700;

  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--main-color);
}
.join-list {
  display: flex;
  margin-top: 20px;
}
.join-item:not(:last-child) {
  margin-right: 10px;
}
.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: var(--icon-color);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon:hover,
.footer-icon:focus {
  background-color: var(--accent-color);
  fill: var(--main-color);
}
.follow-form {
  margin-left: auto;
}
.follow-label {
  display: block;
  margin-bottom: 20px;
}
.follow-input {
  width: 360px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  padding: 15px;
  margin-right: 10px;
}
.follow-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}
.follow-button {
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;

  border: none;
  padding: 0;
  color: var(--main-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
.icon-follow {
  display: inline-block;
  width: 24px;
  height: 24px;

  vertical-align: middle;
}

/*modal*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;

  min-width: 530px;
  min-height: 580px;
  background-color: var(--main-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.close-icon {
  width: 30px;
  height: 30px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  border: none;
  background-color: inherit;
  cursor: pointer;
  fill: var(--logo-color);
  stroke: rgba(0, 0, 0, 0.1);
}
.modal-close:hover .close-icon,
.modal-close:focus .close-icon {
  fill: var(--accent-color);
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--bold-text-color);
}
.form-list {
  list-style: none;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-item:not(:last-child) {
  margin-bottom: 10px;
}
.form-item-input {
  position: relative;
}
.input {
  width: 100%;
  border-radius: 4px;
  margin-top: 4px;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  color: rgba(117, 117, 117, 0.5);

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--bold-text-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback {
  min-height: 120px;
  padding: 12px 16px;
  resize: none;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input:focus,
.input:hover,
.feedback:focus,
.feedback:hover {
  border: 1px solid var(--accent-color);
}
.input:focus-visible,
.feedback:focus-visible {
  outline: none;
}
.input:focus + .form-icon,
.input:hover + .form-icon {
  fill: var(--accent-color);
}
.policy {
  display: block;
  text-align: center;
  margin-bottom: 30px;
}
.policy-label {
  position: relative;
  cursor: pointer;
}

.check-icon {
  position: absolute;
  top: 0;
  left: -23px;
  width: 16px;
  height: 15px;
  opacity: 1;
  background-origin: border-box;
  stroke: black;
  stroke-width: 2px;
  fill: var(--main-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .check-icon {
  fill: var(--accent-color);
  stroke: var(--accent-color);
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.policy-link,
.policy-link:visited {
  color: var(--accent-color);
}
.form-button {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: var(--main-color);

  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-button:hover,
.form-button:focus {
  background-color: #188ce8;
}
